.body{
  margin: 0;
  padding:0;
}
#main-app-div{
  width:100%;
  height: 100vh;
  border-radius:8px;
  margin: 0 auto;
  background-image: url('../../adssets/space.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#stardust{
  width: 400px;
  height: 407px;
  background-image: url('../../adssets/stardust.png');
  background-size: contain;
  position: absolute;
  top: -20%;
  z-index: 2;
  left: -10%;
  background-repeat: no-repeat;
  opacity: 0.39;
  display: none;
}

#stars{
  width: 100%;
  height: 100%;
  background-image: url('../../adssets/stars.png');
  background-size: contain;
  position: absolute;
  top: 0px;
  z-index: 2;
  left: 0px;
  background-repeat: no-repeat;
  animation: stars 25s ;
  animation-fill-mode: forwards;
}


@keyframes stars {
  from {
    background-size: 150px 100px;
  }
  to {
    background-size: 3550px 2250px;
  }
}
