#today-main-div{
    position: absolute;
    top:250px;
    width:300px;
    height: 500px;
    /* border:2px solid rgb(34, 220, 112); */
    border-radius:8px;
    padding: 10px;
}

#today-text{
    width:100%;
    margin: 0;
    color: rgb(247, 255, 251);
    font-size: 30px;
    text-align: center;
}

#loader{
    width:100%;
    height: 100%;
    
}

#loader-div{
    width:100px;
    height: 100px;
    color: #fff;
    margin: 0 auto;
}